
<ul class="nav nav-pills nav-stacked">
    <li><a href="/Administration/Index">Ordrer</a></li>
    <li><a href="/Arrangement/Index">Arrangmenter</a></li>
    <li><a href="/Product/Index">Proukter</a></li>
    <li><a href="/Category/Index">Kategorier</a></li>
    <li><a href="/Sales/GetSales">Salg</a></li>
</ul>